<app-navbar></app-navbar>
<div class="w-50 p-2">
  <div class="card" style="left: 50%">
    <ul class="navbar-nav"></ul>
    <div class="card-header text-center">
      <h5>Edit Issue</h5>
    </div>
    <div class="card-body">
      <form
        class="addissue"
        (ngSubmit)="onSubmit(a)"
        #a="ngForm"
        [style.fontSize.px]="20"
      >
        <div class="form-group">
          <label for="issueTitle">Issue title</label>
          <input
            [(ngModel)]="issueInfo.title"
            class="form-control"
            name="issuetitle"
            id="issuetitle"
            type="text"
            required
          />
        </div>
        <div class="form-group">
          <label for="issueDescription">Issue Description</label>
          <input
            [(ngModel)]="issueInfo.description"
            class="form-control"
            name="issuedescription"
            id="issuedescription"
            type="text"
            required
          />
        </div>
        <div class="form-group">
          <label for="criticalLevel">Critical Level</label>
          <select
            class="form-control"
            [ngModel]="selectedCriticalLevel"
            class="form-control"
            name="criticallevel"
            id="criticallevel"
            required
          >
            <option value="1">Critical</option>
            <option value="0">Not Critical</option>
          </select>
        </div>
        <div class="form-group">
          <label for="deadline">Deadline</label>
          <input
            [ngModel]="issueInfo.deadLine | date: 'yyyy-MM-dd'"
            class="form-control"
            name="deadline"
            id="deadline"
            type="date"
            required
          />
        </div>

        <!-- status -->
        <div class="form-group">
          <label for="status">Status</label>
          <select
            class="form-control"
            [ngModel]="selectedStatus"
            class="form-control"
            name="status"
            id="status"
            required
          >
            <option value="1">Completed</option>
            <option value="0">To be completed</option>
          </select>
        </div>

        <p style="color: red">{{ error }}</p>

        <div class="d-flex w-100">
          <button
            class="btn pull-right btn-primary"
            type="submit"
            [disabled]="!a.valid"
          >
            Update Issue
          </button>
          &nbsp;
          <button class="btn pull-right btn-primary" (click)="toGetCancel()">
            Cancel
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
